In [5]:
import pandas as pd

In [41]:
api_key = 'ISSFBKY6VWY6XRIS'

In [42]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import time

# Define your API key
api_key = "ISSFBKY6VWY6XRIS"

# Initialize the Alpha Vantage TimeSeries object
ts = TimeSeries(key=api_key, output_format='pandas')

# Function to fetch data in chunks
def fetch_monthly_minute_data(symbol, start_date, end_date):
    """
    Fetch 1-minute data for a stock over a month using Alpha Vantage API.

    Args:
        symbol (str): Stock ticker (e.g., "AAPL").
        start_date (str): Start date in YYYY-MM-DD format.
        end_date (str): End date in YYYY-MM-DD format.

    Returns:
        DataFrame: Combined 1-minute data over the specified range.
    """
    all_data = []
    current_date = pd.to_datetime(start_date)

    while current_date <= pd.to_datetime(end_date):
        # Fetch 1-minute intraday data (compact mode)
        try:
            print(f"Fetching data for {current_date.strftime('%Y-%m-%d')}...")
            data, metadata = ts.get_intraday(symbol=symbol, interval="1min", outputsize="full")
            all_data.append(data)

            # Wait to respect API limits (5 requests per minute for free tier)
            time.sleep(12)  # Add delay to avoid exceeding request limits
        except Exception as e:
            print(f"Error fetching data for {current_date.strftime('%Y-%m-%d')}: {e}")

        # Move to the next day
        current_date += pd.Timedelta(days=1)

    # Combine all dataframes into one
    if all_data:
        full_data = pd.concat(all_data)
        full_data.sort_index(inplace=True)
        return full_data
    else:
        return None

# Example usage: Fetch data for AAPL from 2025-01-01 to 2025-01-31
start_date = "2025-01-01"
end_date = "2025-01-31"
symbol = "AAPL"

data = fetch_monthly_minute_data(symbol, start_date, end_date)

# Save to a CSV file for later use
if data is not None:
    data.to_csv(f"{symbol}_1min_{start_date}_to_{end_date}.csv")
    print(f"Data saved to {symbol}_1min_{start_date}_to_{end_date}.csv")
else:
    print("No data fetched.")

Fetching data for 2025-01-01...
Fetching data for 2025-01-02...
Fetching data for 2025-01-03...
Fetching data for 2025-01-04...
Fetching data for 2025-01-05...
Fetching data for 2025-01-06...
Fetching data for 2025-01-07...
Fetching data for 2025-01-08...
Fetching data for 2025-01-09...
Fetching data for 2025-01-10...
Fetching data for 2025-01-11...
Fetching data for 2025-01-12...
Fetching data for 2025-01-13...
Fetching data for 2025-01-14...
Fetching data for 2025-01-15...
Fetching data for 2025-01-16...
Fetching data for 2025-01-17...
Fetching data for 2025-01-18...
Fetching data for 2025-01-19...
Fetching data for 2025-01-20...
Fetching data for 2025-01-21...
Fetching data for 2025-01-22...
Fetching data for 2025-01-23...
Fetching data for 2025-01-24...
Fetching data for 2025-01-25...
Fetching data for 2025-01-26...
Fetching data for 2025-01-27...
Fetching data for 2025-01-28...
Fetching data for 2025-01-29...
Fetching data for 2025-01-30...
Fetching data for 2025-01-31...
Data saved to AAPL_1min_2025-01-01_to_2025-01-31.csv

In [43]:
df= pd.read_csv(r"D:\DOT SLASH\APPLE.csv")

In [44]:
df

                       date  1. open  2. high  3. low  4. close  5. volume
0       2025-01-02 04:00:00   251.90   251.90  250.60   251.360      834.0
1       2025-01-02 04:00:00   251.90   251.90  250.60   251.360      834.0
2       2025-01-02 04:00:00   251.90   251.90  250.60   251.360      834.0
3       2025-01-02 04:00:00   251.90   251.90  250.60   251.360      834.0
4       2025-01-02 04:00:00   251.90   251.90  250.60   251.360      834.0
...                     ...      ...      ...     ...       ...        ...
594761  2025-01-31 19:59:00   234.07   234.09  233.91   233.914     2712.0
594762  2025-01-31 19:59:00   234.07   234.09  233.91   233.914     2712.0
594763  2025-01-31 19:59:00   234.07   234.09  233.91   233.914     2712.0
594764  2025-01-31 19:59:00   234.07   234.09  233.91   233.914     2712.0
594765  2025-01-31 19:59:00   234.07   234.09  233.91   233.914     2712.0

[594766 rows x 6 columns]

In [45]:
df=df.drop_duplicates().reset_index(drop=True)

In [46]:
df

                      date  1. open  2. high   3. low  4. close  5. volume
0      2025-01-02 04:00:00   251.90   251.90  250.600   251.360      834.0
1      2025-01-02 04:01:00   251.37   251.54  251.260   251.320     1175.0
2      2025-01-02 04:02:00   251.37   251.43  251.210   251.210      847.0
3      2025-01-02 04:03:00   251.30   251.30  250.980   250.980     1692.0
4      2025-01-02 04:04:00   250.96   251.15  250.940   251.030      633.0
...                    ...      ...      ...      ...       ...        ...
19181  2025-01-31 19:55:00   234.25   234.25  234.150   234.150      963.0
19182  2025-01-31 19:56:00   234.15   234.20  234.050   234.050     2892.0
19183  2025-01-31 19:57:00   234.08   234.08  233.955   233.990     6581.0
19184  2025-01-31 19:58:00   233.96   234.12  233.930   234.050     5654.0
19185  2025-01-31 19:59:00   234.07   234.09  233.910   233.914     2712.0

[19186 rows x 6 columns]

In [47]:
ema=df['4. close'].head(3).mean()
median_sma = ema
df['EMA'] = None  # Initialize SMA column
df.loc[:2, 'SMA'] = median_sma  # Fill first 3 rows with the median value
n = 5  # EMA period
df['EMA'] = df['4. close'].ewm(span=n, adjust=False).mean()
df = df.drop('SMA', axis=1)

In [48]:
short_time_period=1
long_time_period=60
df['Short_Volume_MA'] = df['5. volume'].rolling(window=short_time_period, min_periods=1).mean()
df['Long_Volume_MA'] = df['5. volume'].rolling(window=long_time_period, min_periods=1).mean()
df['Volume_Oscillator'] = ((df['Short_Volume_MA'] - df['Long_Volume_MA']) / df['Long_Volume_MA']) * 100

# Drop the intermediate moving average columns if you don't need them
df.drop(['Short_Volume_MA', 'Long_Volume_MA'], axis=1, inplace=True)

In [49]:
n=15 #minutes
df['price change']=df['4. close'].diff()
df['gain']=df['price change'].apply(lambda x: x if x>0 else 0)
df['Loss'] = df['price change'].apply(lambda x: -x if x < 0 else 0)
df['Avg Gain'] = df['gain'].rolling(window=n, min_periods=1).mean()
df['Avg Loss'] = df['Loss'].rolling(window=n, min_periods=1).mean()
df['RS'] = df['Avg Gain'] / df['Avg Loss']
df['RSI'] = 100 - (100 / (1 + df['RS']))
df.drop(['price change', 'gain', 'Loss', 'Avg Gain', 'Avg Loss', 'RS'], axis=1, inplace=True)

In [50]:
n=15
m=3
df['Lowest Low'] = df['3. low'].rolling(window=n, min_periods=1).min()
df['Highest High'] = df['2. high'].rolling(window=n, min_periods=1).max()
df['%K'] = ((df['4. close'] - df['Lowest Low']) / (df['Highest High'] - df['Lowest Low'])) * 100
df['%D'] = df['%K'].rolling(window=m, min_periods=1).mean()
df.drop(['Lowest Low', 'Highest High'], axis=1, inplace=True)

In [51]:
import numpy as np
period = 15
df['Previous Close'] = df['4. close'].shift(1)
df['TR'] = np.maximum(
    df['2. high'] - df['3. low'],
    np.maximum(
        abs(df['2. high'] - df['Previous Close']),
        abs(df['3. low'] - df['Previous Close'])
    )
)
df['+DM'] = np.where(
    (df['2. high'] - df['2. high'].shift(1)) > (df['3. low'].shift(1) - df['3. low']),
    np.maximum(df['2. high'] - df['2. high'].shift(1), 0),
    0
)
df['-DM'] = np.where(
    (df['3. low'].shift(1) - df['3. low']) > (df['2. high'] - df['2. high'].shift(1)),
    np.maximum(df['3. low'].shift(1) - df['3. low'], 0),
    0
)
df['Smoothed_TR'] = df['TR'].rolling(window=period, min_periods=1).sum()
df['Smoothed_+DM'] = df['+DM'].rolling(window=period, min_periods=1).sum()
df['Smoothed_-DM'] = df['-DM'].rolling(window=period, min_periods=1).sum()
df['+DI'] = (df['Smoothed_+DM'] / df['Smoothed_TR']) * 100
df['-DI'] = (df['Smoothed_-DM'] / df['Smoothed_TR']) * 100
df['DX'] = (abs(df['+DI'] - df['-DI']) / (df['+DI'] + df['-DI'])) * 100

# Step 6: Calculate the Average Directional Index (ADX)
df['ADX'] = df['DX'].rolling(window=period, min_periods=1).mean()

# Drop unnecessary columns
df.drop(['Previous Close', 'TR', '+DM', '-DM', 'Smoothed_TR', 'Smoothed_+DM', 'Smoothed_-DM', 'DX'], axis=1, inplace=True)

In [52]:
df['Percentage Price Change'] = df['4. close'].pct_change()

# Step 2: Calculate the Price Volume Trend (PVT)
df['PVT'] = (df['Percentage Price Change'] * df['5. volume']).cumsum()

# Drop unnecessary columns
df.drop(['Percentage Price Change'], axis=1, inplace=True)

In [53]:
df['Target'] = df['4. close'].pct_change()

In [54]:
df['previous_close'] = df['4. close'].shift(1)
df['TR'] = df[['2. high', '3. low', 'previous_close']].apply(
    lambda row: max(row['2. high'] - row['3. low'], abs(row['2. high'] - row['previous_close']), abs(row['3. low'] - row['previous_close'])), axis=1)
df['ATR'] = df['TR'].rolling(window=14).mean()
df['Max_Gain'] = df['2. high'] - df['1. open']
df['Max_Loss'] = df['1. open'] - df['3. low']
df['RRR_ATR'] = df['Max_Gain'] / df['ATR']
df['Returns'] = df['4. close'].pct_change()
risk_free_rate = 0.015
df['Excess_Returns'] = df['Returns'] - risk_free_rate / 252
df['Downside_Returns'] = np.where(df['Excess_Returns'] < 0, df['Excess_Returns'], 0)
downside_deviation = np.sqrt((df['Downside_Returns'] ** 2).mean())
sortino_ratio = df['Excess_Returns'].mean() / downside_deviation

# Combine ATR and Sortino Ratio for comprehensive RRR
df['Comprehensive_RRR'] = df['RRR_ATR'] * sortino_ratio

In [55]:
comprehensive_RRR= df['Comprehensive_RRR'].median()

# Fill NaN values in the 'RSI' column with the mean value
df['Comprehensive_RRR'].fillna(comprehensive_RRR, inplace=True)

In [56]:
rsi_mean = df['RSI'].mean()

# Fill NaN values in the 'RSI' column with the mean value
df['RSI'].fillna(rsi_mean, inplace=True)
percent_changeink = df['%K'].median()
df['%K'].fillna(percent_changeink, inplace=True)

percent_changeind=df['%D'].median()
df['%D'].fillna(percent_changeind, inplace=True)

plus_d=df['+DI'].median()
df['+DI'].fillna(plus_d, inplace=True)

minus_d=df['-DI'].median()
df['-DI'].fillna(minus_d, inplace=True)

adx=df['ADX'].median()
df['ADX'].fillna(adx, inplace=True)

pvt=df['PVT'].median()
df['PVT'].fillna(pvt, inplace=True)

target=df['Target'].median()
df['Target'].fillna(target, inplace=True)

In [57]:
df.drop(['Max_Loss','previous_close','TR','ATR','RRR_ATR','Returns','Excess_Returns','Downside_Returns'], axis=1, inplace=True)

In [58]:
df.drop(['Max_Gain'],axis=1,inplace=True)

In [59]:
first_open = df['1. open'].iloc[0]
last_close = df['4. close'].iloc[-1]
percentage_change = (last_close - first_open) / first_open * 100
df['%Change'] = percentage_change

In [60]:
first_open = df['1. open'].iloc[0]
highest_high = df['2. high'].max()
lowest_low = df['3. low'].min()

max_gain = highest_high - first_open
max_loss = first_open - lowest_low

# Avoid division by zero
epsilon = 1e-6
max_loss = max(max_loss, epsilon)

rrr = max_gain / max_loss

# Create a new column and fill it with the calculated RRR value
df['RRR'] = rrr

In [61]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX,PVT,Target,Comprehensive_RRR,%Change,RRR
0,2025-01-02 04:00:00,251.90,251.90,250.600,251.360,834.0,251.360000,0.000000,49.559582,58.461538,58.461538,18.002888,18.962076,37.441027,-15088.094936,0.000000,-0.027280,-7.140135,0.116123
1,2025-01-02 04:01:00,251.37,251.54,251.260,251.320,1175.0,251.346667,16.973619,0.000000,55.384615,56.923077,0.000000,0.000000,37.441027,-0.186983,-0.000159,-0.027280,-7.140135,0.116123
2,2025-01-02 04:02:00,251.37,251.43,251.210,251.210,847.0,251.301111,-11.029412,0.000000,46.923077,53.589744,0.000000,10.000000,100.000000,-0.557705,-0.000438,-0.027280,-7.140135,0.116123
3,2025-01-02 04:03:00,251.30,251.30,250.980,250.980,1692.0,251.194074,48.812665,0.000000,29.230769,43.846154,0.000000,34.146341,100.000000,-2.106848,-0.000916,-0.027280,-7.140135,0.116123
4,2025-01-02 04:04:00,250.96,251.15,250.940,251.030,633.0,251.139383,-38.911407,11.627907,33.076923,36.410256,0.000000,31.067961,100.000000,-1.980742,0.000199,-0.027280,-7.140135,0.116123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19181,2025-01-31 19:55:00,234.25,234.25,234.150,234.150,963.0,234.197242,-6.051836,28.037383,8.925319,17.210607,14.247019,20.016182,48.139845,-15093.479314,-0.000235,-0.000000,-7.140135,0.116123
19182,2025-01-31 19:56:00,234.15,234.20,234.050,234.050,2892.0,234.148161,170.642917,27.522936,0.000000,9.067666,14.049329,20.432234,45.400172,-15094.714420,-0.000427,-0.020054,-7.140135,0.116123
19183,2025-01-31 19:57:00,234.08,234.08,233.955,233.990,6581.0,234.095441,465.645279,24.107143,5.511811,4.812377,13.739526,23.204532,43.240410,-15096.401495,-0.000256,-0.000000,-7.140135,0.116123
19184,2025-01-31 19:58:00,233.96,234.12,233.930,234.050,5654.0,234.080294,361.865214,31.132075,19.047619,8.186477,14.894400,19.546809,40.068959,-15094.951689,0.000256,-0.065183,-7.140135,0.116123
19185,2025-01-31 19:59:00,234.07,234.09,233.910,233.914,2712.0,234.024863,116.749031,31.548757,0.615385,8.391605,15.039373,14.032242,35.411320,-15096.527558,-0.000581,-0.007920,-7.140135,0.116123

In [62]:
df.to_csv('features_APPLE.csv')

In [63]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX,PVT,Target,Comprehensive_RRR,%Change,RRR
0,2025-01-02 04:00:00,251.90,251.90,250.600,251.360,834.0,251.360000,0.000000,49.559582,58.461538,58.461538,18.002888,18.962076,37.441027,-15088.094936,0.000000,-0.027280,-7.140135,0.116123
1,2025-01-02 04:01:00,251.37,251.54,251.260,251.320,1175.0,251.346667,16.973619,0.000000,55.384615,56.923077,0.000000,0.000000,37.441027,-0.186983,-0.000159,-0.027280,-7.140135,0.116123
2,2025-01-02 04:02:00,251.37,251.43,251.210,251.210,847.0,251.301111,-11.029412,0.000000,46.923077,53.589744,0.000000,10.000000,100.000000,-0.557705,-0.000438,-0.027280,-7.140135,0.116123
3,2025-01-02 04:03:00,251.30,251.30,250.980,250.980,1692.0,251.194074,48.812665,0.000000,29.230769,43.846154,0.000000,34.146341,100.000000,-2.106848,-0.000916,-0.027280,-7.140135,0.116123
4,2025-01-02 04:04:00,250.96,251.15,250.940,251.030,633.0,251.139383,-38.911407,11.627907,33.076923,36.410256,0.000000,31.067961,100.000000,-1.980742,0.000199,-0.027280,-7.140135,0.116123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19181,2025-01-31 19:55:00,234.25,234.25,234.150,234.150,963.0,234.197242,-6.051836,28.037383,8.925319,17.210607,14.247019,20.016182,48.139845,-15093.479314,-0.000235,-0.000000,-7.140135,0.116123
19182,2025-01-31 19:56:00,234.15,234.20,234.050,234.050,2892.0,234.148161,170.642917,27.522936,0.000000,9.067666,14.049329,20.432234,45.400172,-15094.714420,-0.000427,-0.020054,-7.140135,0.116123
19183,2025-01-31 19:57:00,234.08,234.08,233.955,233.990,6581.0,234.095441,465.645279,24.107143,5.511811,4.812377,13.739526,23.204532,43.240410,-15096.401495,-0.000256,-0.000000,-7.140135,0.116123
19184,2025-01-31 19:58:00,233.96,234.12,233.930,234.050,5654.0,234.080294,361.865214,31.132075,19.047619,8.186477,14.894400,19.546809,40.068959,-15094.951689,0.000256,-0.065183,-7.140135,0.116123
19185,2025-01-31 19:59:00,234.07,234.09,233.910,233.914,2712.0,234.024863,116.749031,31.548757,0.615385,8.391605,15.039373,14.032242,35.411320,-15096.527558,-0.000581,-0.007920,-7.140135,0.116123