In [1]:
import pandas as pd

In [3]:
import pandas as pd

# Load the dataset
df = pd.read_csv(r"D:\DOT SLASH\features2.csv")

In [4]:
df

,Unnamed: 0,1. open,2. high,3. low,4. close,5. volume,EMA,RSI,%K,%D,+DI,-DI,ADX,PVT,Target
0,0,22.7100,22.9000,22.7100,22.9000,944.0,22.900000,50.219276,100.000000,100.000000,22.653347,24.242424,30.580530,-15111.818938,0.000000
1,1,22.7900,22.7900,22.7800,22.7800,120.0,22.860000,0.000000,36.842105,68.421053,0.000000,0.000000,30.580530,-0.628821,-0.005240
2,2,22.7900,22.8400,22.7900,22.8400,73.0,22.853333,33.333333,68.421053,68.421053,27.777778,0.000000,100.000000,-0.436547,0.002634
3,3,22.8100,22.8100,22.8100,22.8100,3.0,22.838889,28.571429,52.631579,52.631579,23.809524,0.000000,100.000000,-0.440487,-0.001313
4,4,22.8400,22.8400,22.8300,22.8300,392.0,22.835926,34.782609,63.157895,61.403509,33.333333,0.000000,100.000000,-0.096779,0.000877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8814,8814,21.9010,21.9010,21.9010,21.9010,5.0,21.923640,45.519386,1.113586,19.005197,44.304023,53.025988,15.450232,-14345.245834,-0.002232
8815,8815,21.9895,21.9895,21.9895,21.9895,1.0,21.945593,53.108768,99.665924,52.152932,52.285759,46.164575,15.198068,-14345.241793,0.004041
8816,8816,21.9500,21.9500,21.9500,21.9500,714027.0,21.947062,50.000000,55.679287,52.152932,49.269860,49.269860,13.716586,-15627.856973,-0.001796
8817,8817,21.9896,21.9896,21.9896,21.9896,2.0,21.961241,52.771557,99.777283,85.040831,52.043070,46.576477,12.604646,-15627.853365,0.001804
8818,8818,21.9300,21.9300,21.9300,21.9300,100.0,21.950828,48.708010,33.407572,62.954714,48.708010,50.000000,10.873724,-15628.124402,-0.002710

In [5]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)